*~
.coverage
.hypothesis/
.mypy_cache/
.prospector.yaml
.python-version
.ropeproject/
__pycache__
chinese/meta.json
chinese/config_saved.json
text-files/
*.apkg
*.zip
*.mp3
packaged-libs
chinese/lib
chinese/orig_lib
virtual_env/
